* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url(NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
body {
    margin: 0;
    background-color: red;
    overflow-x: hidden;
}
.nav-1 {
    display: flex;
    align-items: center;
    height: 80px;
    float: right;
    justify-content: center;
}
.a-1, .aa-1 {
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(96, 93, 236, 1);
    text-decoration: none;
}
.a-1 {
    margin-left: 36px;
}
.sign-up {
    height: 48px;
    width: 95px;
    border-radius: 4px;
    background-color: rgba(96, 93, 236, 1);
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    border: none;
    margin-left: 26px;
}
@media only screen and (max-width: 768px) {
    .a-1 {
        margin-left: 20px;
    }
    .nav-1 {
        padding-left: 10px;
    }
    .input1, .input2, .input3 {
        width: 200px !important;
    }
    .container-xxl {
        padding-top: 150px !important;
        height: auto !important;
        padding-bottom: 24px !important;
    }
    .box {
        padding-top: 370px !important;
    }
}
.title {
    font-family: 'Nunito Sans';
    font-size: 96px;
    font-weight: 800;
    line-height: 90px;
}
.input {
    width: 224px;   
}
input {
    margin: 0;
}
.input1 {
    background-image: url(Union.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 13px;
}
.input2 {
    background-image: url(Union2.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 13px;
}

.input1, .input2 {
    width: 260.5px;
}
.input3 {
    width: 252px;
}

.input4 {
    width: 200px; 
    background-image: url(person\ solid.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 12px;
}
.input1, .input2, .input3, .input4 {
    margin: 0;
    padding-left: 52px;
    height: 48px;
    border: 1px solid Grey;
}
.input2, .input3, .input4 {
    margin: 0;
}
.title-row1, .title-row2, .title-row4 {
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}
.title-row1 {
    color: #6E7491;
}
.title-row2 {
    color: #605DEC;
}
.title-row4 {
    color: #5CD6C0;
}
.all {
    font-family: 'Nunito Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    color: #A1B0CC;
}
.Shanghai1, .Shanghai2, .Shanghai3 {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}
.Shanghai1 {
    color: #6E7491;
}
.Shanghai2 {
    color: #605DEC;
}
.Shanghai3 {
    color: #5CD6C0;
}
.text {
    padding-left: 24px;
}
.price {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #6E7491;
    float: right;
}
.subtitle, .subtitle2 {
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #7C8DB0;
    margin-top: 4px;
}

.username {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #6E7491;
    margin-left: 16px;
}
.date-place {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #A1B0CC;
    margin-left: 16px;
}
.person {
    padding: 16px;
    display: flex;
}
.stars {
    padding-left: 83px;
    margin-top: -14px;
}
.comment-text {
    padding-left: 80px;
    padding-right: 16px;
    padding-top: 15px;
}
.comment-span, .read-more {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.read-more {
    color: #605DEC;
}
.comment-span {
    color: #27273F;
}

.a1 {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #6E7491;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
}
.a2 {
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #7C8DB0;
    text-transform: capitalize;
    margin-top: 16px;
    text-decoration: none;
    display: inline-block;
}
.stores {
    display: inline-block;
    margin-top: 32px;
}
.storess {
    display: inline-block;
    margin-top: 12px;
}
.soc-med {
    display: inline-block;
    margin-left: 23px;
}
.social-media {
    padding-left: 107px;
}
.tr-inc {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #7C8DB0;
    display: inline-block;
}